In [7]:
import os
import pandas as pd

In [8]:
with open('./column_headers.txt', 'r') as col_file:
    cols = col_file.read()
    col_headers = cols.lower().split('\n')
    print(col_headers)

['mariners_name', 'year_of_birth', 'age', 'place_of_birth', 'home_address', 'blank', 'name_of_last_ship', 'port_last_ship_belonged_to', 'date_of_leaving_last_ship', 'date_joining_this_ship', 'port_of_joining_this_ship', 'capacity_this_ship', 'date_left_port', 'port_of_leaving', 'cause_for_leaving_or_remain_on_board', 'signed_with_a_mark_(y/n)', 'any_additional_notes']

"./ABERSHIP_transcription_vtls004566921/Series 1 - 10/File_1-2_vtls004583119.xlsx"
"./ABERSHIP_transcription_vtls004566921/Series 1 - 10"

In [47]:
bad_files = {}
write_header = True
#vessel_info = {}
metadata_cols = ['file_path', 'file_name']
with open('./complete_set.csv', 'w') as complete, open('./meta.csv', 'w') as meta:
    for root, dirs, files in os.walk("./ABERSHIP_transcription_vtls004566921", topdown=True):

        for i, name in enumerate(files):
            file_name = []
            f = os.path.join(root, name)
            file_name.append(f)
            #print(file_name)
            # build up record per directory?
            #if f == './ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_1_vtls004566957/File_1-2_vtls004583119.xlsx':
            try:
                df = pd.read_excel(f, header=None)
            except Exception as e:
                bad_files[f] = e
                continue

            vessel_df = df[0:6]
            #display(vessel_df)
#                 vessel_info['vessel'] = vessel_df.iloc[1,5]
#                 vessel_info['ship_no'] = vessel_df.iloc[3,5]
#                 vessel_info['port_of_reg'] = vessel_df.iloc[1,5]

            ''' First two rows of details are examplars and aways same'''
            # Maybe put in check for this assumption?
            details_df = df.iloc[11:]
            #display(details_df)
            #print(details_df.shape)
            try:
                details_df.columns = col_headers
            except Exception as e:
                bad_files[f] = e
                continue
            #display(details_df)

            details_df.insert(0, 'vessel', vessel_df.iloc[1,5], True)
            details_df.insert(1, 'ship_no', vessel_df.iloc[3,5], True)
            details_df.insert(2, 'port_of_reg', vessel_df.iloc[1,5], True)

            details_df.insert(len(details_df.columns), 'file_path', f, True)

            details_df.to_csv(complete, header=write_header)
            write_header = False
            
            meta.write(f"{name},{f}\n")

            #display(details_df)
        
        
print(*bad_files, sep='\n')

print('Run Complete')

./ABERSHIP_transcription_vtls004566921/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 391 - 400/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 541 - 544/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 61 - 70/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 111 - 120/Series_118_vtls004570012/~$File_118-20_vtls04640961.xlsx
./ABERSHIP_transcription_vtls004566921/Series 111 - 120/Series_118_vtls004570012/~$File_118-6_vtls004640820.xlsx
./ABERSHIP_transcription_vtls004566921/Series 111 - 120/Series_118_vtls004570012/~$File_118-7_vtls004640846.xlsx
./ABERSHIP_transcription_vtls004566921/Series 111 - 120/Series_119_vtls004570014/~$File_119-1_vtls004641002.xlsx
./ABERSHIP_transcription_vtls004566921/Series 111 - 120/Series_119_vtls004570014/~$File_119-2_vtls004641012.xlsx
./ABERSHIP_transcription_vtls004566921/Series 181 - 190/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 301 - 310/Series_306_vtls004571689/~$File_306-2_vtls004692989.xlsx
./ABERSHIP_transcription_vtls004566921/Series 291 - 300/Series_294_vtls004571601/Book1.xlsx
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_8_vtls004567424/~$File_8-1_vtls004587965.xlsx
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_10_vtls004567448/~$File_10-10_vtls004589021.xlsx
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_3_vtls004566971/~$File_3-1_vtls004586023.xlsx
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_1_vtls004566957/~$File_1-4_vlts004583279.xlsx
./ABERSHIP_transcription_vtls004566921/Series 1 - 10/Series_1_vtls004566957/~$File_1-6_vtls004583549.xlsx
./ABERSHIP_transcription_vtls004566921/Series 231 - 240/Series_232_vtls004571125/~$File_232-6_vtls004664359.xlsx
./ABERSHIP_transcription_vtls004566921/Series 11 - 20/.DS_Store
./ABERSHIP_transcription_vtls004566921/Series 511 - 520/Series_518_vtls004573981/~$File_518-8_vtls004971633.xlsx
./ABERSHIP_transcription_vtls004566921/Series 71 - 80/Series_72_vtls004569195/~$File_72-6_vtls004627602.xlsx
./ABERSHIP_transcription_vtls004566921/Series 71 - 80/Series_72_vtls004569195/~$File_72-5_vtls004627599.xlsx
Run Complete

In [109]:
#df.index = pd.Series(df.index).fillna(method='ffill')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\n,NaN,NaN,NaN,NaN
1,NaN,Vessel Name :,NaN,NaN,NaN,Aberystwyth,NaN,NaN,NaN,NaN,NaN,KEY \nIllegible Word =\nIllegible let...,NaN,and examples\n$\n$ e.g. Aberystw$th \ne.g. [Ab...,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Ship Official number :,NaN,NaN,NaN,28993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

# Import pandas package 
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}
  
# Convert the dictionary into DataFrame
df2 = pd.DataFrame(data)
  
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']
  
# Using 'Address' as the column name
# and equating it to the list
df2['Address'] = address
  
# Observe the result
df2

In [41]:
with open('./files_processed.csv', 'w') as flist:  
    for root, dirs, files in os.walk("./ABERSHIP_transcription_vtls004566921", topdown=True):
        for i, name in enumerate(files):
            #flist.write(root +'/' + name + '\n')
            flist.write(os.path.join(root,name)+'\n')